NODE_ENV = "development"

APP_NAME = "Mecca Controller"

# Database
DB_ENABLE = true
DB_USERNAME = "root"
DB_PASSWORD = "password"
DB_DATABASE = "db_mecca_development"
DB_DIALECT = "mysql"
DB_HOST = "127.0.0.1"
DB_PORT = 3306
DB_LOGGING = false

# Server
SERVER_THREADS = 1
IP = '0.0.0.0'
PORT = 3000
SERVER_HOST = http://localhost:3000

# API Configuration
MIDDLEWARE_ORIGIN = '*'
MIDDLEWARE_JSON_LIMIT_SIZE = '5mb'
LOG_REQUEST = 'full'
WEB_HOST = http://localhost:5173

# JWT Config (TTL 3 Hours)
JWT_TOKEN_SECRET = 'your-secret-key-here'
JWT_TOKEN_EXPIRED = '3h'

# Hash Salt
HASH_SALT_PASSWORD = 'yourSaltPassword'
HASH_SALT_FILE = 'yourHashSaltFile'
